0
.vs
bin
Debug
packages
obj
target
x64
Win32
Release
/build
/builddir
/deps
**/protobuf-c/*
*.filters
*.user
examples/cpp/extension-virtual-channel-cpp/protobuf
examples/csharp/extension-virtual-channel-csharp/generated
examples/csharp/extension-geometrygui-csharp/generated
examples/csharp/extension-geometry-csharp/generated
examples/cpp/extension-virtual-channel-cpp/generated
